@CHARSET "UTF-8";
*{
	margin:0px;
	padding:0px;
}
.main{
	width: 980px;
	margin: 0px auto;
}
.main > div{
	border: 1px solid black;
	height: 400px;
	padding:0px;
}
.main > div > div{
	border: 1px solid black;
	height: 133px;
	padding: 5px;
}
.illInfo_block{
	padding: 2px 10px 0;
}
#illInfo, #healthInfo, #mapInfo{
	text-align: center;
}