.subtitle{
	color : white;
	font-size :20px;
	font-weight: bold; 
	margin : 0 10px 0 0;
}

#box1 {
	display : inline-flex;
	background-color : #1883d7;/* #032d55; *//* #9BDBF4; */
	
}
#box2 {
	float:right;
	margin:30px 0 0 0;
}
#box3{
	margin:10px 10px 10px 0;
	text-align:center;
}
#box4{
	margin : 50px 0px;
	text-align:right;
}
.img2{
	margin:10px 10px 10px 0;
	width : 67px;
}
#smallimg {
	width : 20px; 
}
.smallimg{
	width : 20px;
}
#red1 {
	font-family :cursive;
	color : red;
	font-weight : bold;
	font-size: 13px;
}
#line{
	background : #032d55;
	height : 5px;
	margin : 0px auto;
}
#img2{
	margin : 10px 10px 10px 10px;
	
}
.img1{
	width: 45px;
	margin : 5px 5px 5px 5px;
	
} 
.container {
	width : 500px;
}
.submitbutton{
	text-align :right;
}
.btn-img{
	width : 25px;
	height : 25px;
}
#detailImage{
	width : 500px;
	height: auto;
}
#searchoption1{
	margin : 35px 0px;
	text-align : center;
}
.listPage{
	text-align: center;
	
}
.detailtable{
	margin : 50px auto;
	text-align : center;
}
.detailtable th {
	font-size : 13.7px;
	font-weight: bold;
	padding : 2.5px 10px 2.5px 20px;	
}
.detailtable:first-child {
	font-size : 300px;
	font-weight: bold;
	padding : 2.5px 10px 2.5px 20px;	
} 

#largemediCode {
	font-size : 13.7px;
	font-weight: bold;
	text-align : center;
}
