<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.medicine_inc.bbs.mapper.HaejinMapper">

	<select id="radiansList" resultType="Pharmacy" resultMap="pharmacyResultMap" parameterType="hashmap">
		SELECT *,(6371*acos(cos(radians(37.535744))*cos(radians(ypos))*cos(radians(xpos)
		-radians(127.082496))+sin(radians(37.535744))*sin(radians(ypos))))
		AS distance FROM pharmacy
		HAVING distance <![CDATA[<=]]> 0.3 ORDER BY distance LIMIT 0,10
	</select>
	
	<resultMap id="pharmacyResultMap" type="Pharmacy">
		<id property="no" column="no" />
		<result property="name" column="name" />
		<result property="addr" column="addr" />
		<result property="post" column="post" />
		<result property="sgucd" column="sgucd" />
		<result property="sguname" column="sguname" />
		<result property="sido" column="sido" />
		<result property="sidoname" column="sidoname" />
		<result property="tel" column="tel" />
		<result property="xpos" column="xpos" />
		<result property="ypos" column="ypos" />
	</resultMap>


















</mapper>