<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.medicine_inc.bbs.mapper.KookyeongMapper">
	<select id="jiwonBoardList" parameterType="hashmap"
		resultType="JiwonBoard">
		SELECT
		*
		FROM jiwonboard
		ORDER BY bno DESC
		LIMIT #{startRow},
		#{num}
	</select>
	<select id="getBoardCount" resultType="int">
		SELECT
		COUNT(bno)
		FROM
		jiwonBoard
	</select>

	<insert id="jiwonInsertBoard" parameterType="JiwonBoard"
		useGeneratedKeys="true" keyProperty="bno">
		INSERT INTO jiwonboard(title,
		writer , content , regDate, viewcnt, pass)
		VALUES
		(#{title},#{writer},#{content}, SYSDATE(),#{viewcnt},#{pass})
	</insert>

	<select id="isPassCheck" resultType="String">
		SELECT pass FROM jiwonboard
		WHERE bno = #{bno}
	</select>

	<update id="incrementReadCount">
		UPDATE jiwonboard SET viewcnt = viewcnt +1 WHERE bno
		= #{bno}

	</update>

	<select id="getJiwonBoard" resultType="JiwonBoard"
		resultMap="jiwonBoardResultMap">
		SELECT * FROM jiwonboard WHERE bno = #{bno}
	</select>

	<update id="jiwonUpdateBoard" parameterType="JiwonBoard">
		UPDATE jiwonBoard
		SET title = #{title}, content = #{content},
		regDate = SYSDATE()
		WHERE
		bno = #{bno}
	</update>
	<delete id="deleteBoard">
		DELETE FROM jiwonboard
		WHERE bno = #{bno}
	</delete>
	<resultMap id="jiwonBoardResultMap" type="JiwonBoard">
		<id property="bno" column="bno" />
		<result property="title" column="title" />
		<result property="writer" column="writer" />
		<result property="content" column="content" />
		<result property="regDate" column="regdate" />
		<result property="viewcnt" column="viewcnt" />
		<result property="pass" column="pass" />
		<result property="file1" column="file1" />
	</resultMap>


</mapper>

