<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.medicine_inc.bbs.mapper.ParkKyoungminMapper" >
 <select id="firstaidList" parameterType="hashmap" resultType="Firstaid" resultMap="FirstaidResultMap">
  SELECT * FROM firstaid ORDER BY firstaidnum LIMIT #{startRow}, #{num}
 </select>
 
 <select id="getFirstaidCount" resultType="int">
  SELECT count(firstaidnum) FROM firstaid
 </select>
 
 <select id="stretchingList" parameterType="hashmap" resultType="Stretching" resultMap="StretchingResultMap">
  SELECT * FROM stretching ORDER BY stretchingnum LIMIT #{startRow}, #{num}
 </select>
 
 <select id="getStretchingCount" resultType="int">
  SELECT count(stretchingnum) FROM stretching
 </select>
 
 <resultMap id="FirstaidResultMap" type="Firstaid">
  <id property="firstaidnum" column="firstaidnum"/>
  <result property="firstaidtitle" column="firstaidtitle"/>
  <result property="firstaidcontent1" column="firstaidcontent1"/>
  <result property="firstaidcontent2" column="firstaidcontent2"/>
  <result property="firstaidcontent3" column="firstaidcontent3"/>
  <result property="firstaidcontent4" column="firstaidcontent4"/>
  <result property="firstaidcontent5" column="firstaidcontent5"/>
  <result property="firstaidcontent6" column="firstaidcontent6"/>
  <result property="firstaidcontent7" column="firstaidcontent7"/>
  <result property="firstaidcontent8" column="firstaidcontent8"/>
 </resultMap>
           
 <resultMap id="StretchingResultMap" type="Stretching">
  <id property="stretchingnum" column="stretchingnum"/>
  <result property="stretchingtitle" column="stretchingtitle"/>
  <result property="stretchingcontent1" column="stretchingcontent1"/>
  <result property="stretchingcontent2" column="stretchingcontent2"/>
  <result property="stretchingcontent3" column="stretchingcontent3"/>
  <result property="stretchingcontent4" column="stretchingcontent4"/>
  <result property="stretchingcontent5" column="stretchingcontent5"/>
  <result property="stretchingcontent6" column="stretchingcontent6"/>
  <result property="stretchingcontent7" column="stretchingcontent7"/>
  <result property="stretchingcontent8" column="stretchingcontent8"/>
 </resultMap>
 
</mapper>	